/*=============== BASE ===============*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	scroll-behavior: smooth;
}

body,
button{
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

body{
	background-color: var(--body-color);
	color: var(--text-color);
}

button{
	outline: none;
	border: none;
}

h1,h2,h3,h4{
	color: var(--title-color);
	font-family: var(--second-font);
	font-weight: var(--font-semi-bold);
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}
