@import 'config/variables';
@import 'base/base';
@import 'layout/layout';
@import 'components/header';
@import 'components/home';
@import 'components/button';
@import 'components/about';
@import 'components/projects';
@import 'components/work';
@import 'components/services';
@import 'components/testimonials';
@import 'components/contact';
@import 'components/footer';
@import 'components/scroll';
@import 'components/breakpoints';
