/*=============== HEADER & NAV ===============*/
.header{
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   background: linear-gradient(180deg, 
             var(--body-color) 60%, 
             hsla(240, 100%, 2%, 0) 100%);
   z-index: var(--z-fixed);

   & .blob-animate{
      top: -3rem;
      left: -3rem;
   }
}

.nav{
   display: flex;
   justify-content: space-between;
   padding-block: 1rem;

   &__logo{
      font-family: var(--second-font);
      font-weight: var(--font-semi-bold);
      color: var(--title-color);
      align-self: flex-start;
      transition: color .4s;

      &:hover{
         color: var(--first-color);
      }
   }
   &__list{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: .5rem;
   }
   &__link{
      color: var(--title-color);
      font: var(--font-semi-bold) var(--small-font-size) var(--second-font);
      transition: color .4s, text-shadow .4s;

      &:hover{
         color: var(--first-color);
         text-shadow: 0 8px 16px var(--first-color);
      }
   }
}

/* Active link */
.active-link{
   color: var(--first-color);
   text-shadow: 0 8px 16px var(--first-color);
}
